* {
  font-family: sans-serif;
  font-size: 4vmin;
}

body {
  background-color: #eee;
}

header {
  height: 15vmin;
  width: 100%;
}

h1 {
  display: none;
}

h2 {
  font-size: 1.5rem;
}

header > img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

* + section {
  margin-top: 10vmin;
}

figure {
  float: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

figure > figcaption {
  margin-top: 1vmin;
}

button {
  border-radius: 50%;
  height: 15vmin;
  width: 15vmin;
  position: relative;
  border: none;
}

button > img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

.text-general {
  text-align: justify;
  width: 80%;
}

.haiku {
  width: 50%;
  margin: auto;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

form > * + label {
  margin-top: 3vmin;
}

form > label {
  margin-bottom: 1vmin;
}

form > input {
  height: 2rem;
}

form > button {
  margin: auto;
  margin-top: 5vmin;
  border-radius: 50%;
}

form > * {
  border-radius: 20px;
  border: none;
}

ul {
  border: 2px ridge #eee;
  border-radius: 20px;
  height: 70vmin;
  width: 80vmin;
  overflow: auto;
}

li {
  font-size: 1.2rem;
  text-align: left;
}

* + li {
  margin-top: 1rem;
}
