* {
  font-family: sans-serif;
  font-size: 4vmin;
}

body {
  background-color: white;
  font-size: 1rem;
}

.header {
  height: 15vmin;
  width: 100%;
}

.hidden {
  display: none;
}

h1 {
  font-size: 1.7rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

.button-container {
  margin-bottom: 0;
}

/* GRID */

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.linkbox-read {
  grid-column: 2;
  grid-row: 1;
}

.infobox-haikus {
  grid-column: 1;
  grid-row: 1;
}

.haiku-form {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

header > img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

* + section {
  margin-top: 10vmin;
}

figure {
  float: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

figure > figcaption {
  margin-top: 1vmin;
}

button {
  border-radius: 50%;
  height: 15vmin;
  width: 15vmin;
  position: relative;
  border: none;
}

button > img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

li > form > button {
  margin: inherit;
  align-self: flex-end;
}

.text-general {
  text-align: justify;
  width: 80%;
}

.haiku {
  width: 30%;
  margin: auto;
}

.no-top-margin {
  margin-top: 0;
}

.text-secondary {
  color: rgb(130, 130, 130);
  font-style: italic;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

form > * + label {
  margin-top: 3vmin;
}

form > label {
  margin-bottom: 1vmin;
}

form > input {
  height: 2rem;
  border: 1px solid black;
}

form > textarea {
  padding: 0.7rem;
  border: 1px solid black;
}

form > button {
  margin: auto;
  margin-top: 5vmin;
  border-radius: 50%;
}

form > * {
  border-radius: 20px;
  border: none;
}

ul {
  border: 2px ridge #eee;
  border-radius: 20px;
  height: 70vmin;
  width: 80vmin;
  overflow: auto;
}

li {
  font-size: 1.2rem;
  text-align: left;
  list-style-type: none;
}

li > p {
  white-space: pre-line;
  line-height: 1.5rem;
}

* + li {
  margin-top: 1rem;
}

textarea {
  resize: none;
}
